#blocks {
  max-width: 250px;
  margin: 50px auto;
  display: none;
}
h1 {
    text-align: center;
}
#blocks.show-block {
	display: block;
}


ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.inner-block {
	width: 50px;
	height: 50px;
	background-color: #ccc;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons button {
	margin: 25px;
    padding: 6px 10px;
    border: 5px solid blue;
    background: white;
    color: black;
    border-radius: 10px;
    outline: none;
}

.buttons .button-interval.disable {
    display: none;
}
